* {
    box-sizing: border-box;
}

:root {
    --light-first-color: #fff;
    --light-second-color: rgb(247, 241, 241);
    --dark-first-color: rgb(49, 49, 49);
    --dark-second-color: rgb(22, 22, 22);
}

body {
    margin: 0;
}

h3, p {
    font-weight: bold;
}

.nav {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--light-firs-color);
    color: #000;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.nav.dark {
    background-color: var(--dark-first-color);
    color: #fff;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav.dark a {
    color:#fff;
}

.main {
    padding: 1.5rem;
    background-color: var(--light-second-color);
    position: relative;
}

.main.dark {
    background-color: var(--dark-second-color);
    color: #fff;
}

#form {
    display: flex;
    justify-content: space-between;
}


.search, .region {
    background-color: var(--light-first-color);
    color: #000;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    width: 250px;
    margin: 20px;
}

.search.dark, .region.dark {
    background-color: var(--dark-first-color);
    color:#fff;
}

.search.dark:focus, .region.dark:focus {
    background-color: var(--dark-second-color);
}

.search::placeholder {
    color: #dee0f3;
  }
  
.search:focus, .region:focus {
    outline: none;
    background-color: var(--light-second-color);
}

#dark {
    cursor: pointer;
}

.country-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country {
    width: 270px;
    margin: 1rem;
    
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}


.country img {
    width: 100%;
    height: 200px;
}

.country-info {
    padding: 1rem 1.5rem;
    
}

.country:hover {
    transform: translateY(-5%);
}

@media (max-width: 700px) {
    .country-container {
        flex-direction: column;
        align-items: center;
    }
    .search {
        display: flex;
        justify-content: center;
        padding: 0.75rem;
    }
}

.btn {
    margin-bottom: 2.5rem;
    border: none;
    text-decoration: none;
    background-color: var(--light-first-color);
    padding: 1rem;
    border-radius: 15px;
}

.btn.dark {
    background-color: var(--dark-first-color);
}
.btn.dark a {
    color:#fff
}

.btn a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
.fas {
    margin-right: 0.25rem;
}

.country-information {
    display: flex;
    margin: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.info ul {
    list-style: none;
}

.img-container img {
    width: 350px;
    height: 250px;
}

.info ul li {
    margin: 0.5rem;
    display: inline-flex;
}

.info ul a {
    background-color: var(--light-firs-color);
    padding: 0.5rem;
    border-radius: 3px;
}

.info span {
    margin: 0.3rem;
}

.borders {
    margin-top: 20px;
}